/*mobile first*/

/*Themes Import*/
@import 'themes/responsive';

/*Base imports*/
@import 'base/reset';
@import 'base/fonts';

/*utilities Import*/
@import 'utilities/variables';

/*Layout Import*/
@import 'layout/footer';
@import 'layout/forms';
@import 'layout/header';

/*Pages Import*/
@import 'pages/about';
@import 'pages/index';
@import 'pages/info';
@import 'pages/craft';
@import 'pages/beers';

/*Modules Import*/
@import 'modules/maps';
@import 'modules/carousel';

@media (min-width:300px) and (max-width:380px) {
    /*Index*/
    .title{
        width: 100%;
        font-size: 33px;
        }
    .title2{
        font-size: 25px;
        text-shadow: 2px 2px black;
        top:100px
        }
    .nav{
        background-color: black;
        }
    body{
        background-color: black;
        }
    .logo{
        width: 100%;
        height: 100%;
        bottom: 10px;
        right: -10px;
        }
    .main{
        width: 100%;
        height: 490px;
        background-image:url('../assets/fondo.webp');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        }
    #video_background {
        position: absolute;
        bottom: -80px;
        top:-65px;
        right: 0px;
        min-width: 100%;
        min-height: 50%;
        width: 100%;
        height: 50%;
        z-index: -1000;
        overflow: hidden;
        } 
    /*About*/
    .about{
        width: 100%;
        height: 100%;
        border: 1px solid $primary-color;
        border-radius: 1em;
        font-family: 'Inter Tight', sans-serif;
        font-size: 80%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
        text-align: left;
        padding: 10%;
        margin: 2%;
        }
    .aboutimg{
        width: 100%;
        height: auto;
        }
    .about1{
        width: 100%;
        height: auto;
        border: 1px solid goldenrod;
        border-radius: 1em;
        font-family: 'Inter Tight', sans-serif;
        font-size: 130%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        }
    /*Beers*/
    .carousel{
        width: 100%;
        height: 90%;
        }
    .carousel-inner{
        width: 80%;
        height: 90%;
        }
    .carousel-item{
        width: 100%;
        height: 80%;
        }
    .carousel-item :active{
        width: 100%;
        height: 80%;    
        }
    .item img {
        width: 100%;
        height: 100%;
        }
    /*Crafting*/
    .craftingcontenedor{
        width: 90%;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding: 1%;
        }
    .crafting{
        width: 100%;
        height: auto;
        border: 1px solid $primary-color;
        }
    /*Info*/
    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 450px;
        margin-top: 0;
        margin-bottom: 0;
        }
    .map{
        margin: 0;
        width: 100%;
        height: 180px;
        }
    .contact-form{
        margin: 0 0 0 0;
        width: 100%;
        height: 300px;
        }
    .contact-form ul li{
        list-style: none;
        color: goldenrod;
        text-align: right;
        padding: 0;
        padding-right: 80px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 12px;
        font-family: 'Inter Tight', sans-serif;
        }
}
@media (min-width:381px) and (max-width:500px) {
    /*Index*/
    .title{
        width: 100%;
        font-size: 33px;
        }
    .title2{
        font-size: 25px;
        text-shadow: 2px 2px black;
        top:100px
        }
    .nav{
        background-color: black;
        }
    body{
        background-color: black;
        }
    .logo{
        width: 100%;
        height: 100%;
        bottom: 10px;
        right: -10px;
        }
    .main{
        width: 100%;
        height: 490px;
        background-image:url('../assets/fondo.webp');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        }
    #video_background {
        position: absolute;
        bottom: -80px;
        top:-65px;
        right: 0px;
        min-width: 100%;
        min-height: 50%;
        width: 100%;
        height: 50%;
        z-index: -1000;
        overflow: hidden;
        } 
    /*About*/
    .about{
        width: 100%;
        height: 100%;
        border: 1px solid $primary-color;
        border-radius: 1em;
        font-family: 'Inter Tight', sans-serif;
        font-size: 90%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
        text-align: left;
        padding: 5%;
        margin: 2%;
        }
    .aboutimg{
        width: 100%;
        height: auto;
        }
    .about1{
        width: 100%;
        height: auto;
        border: 1px solid goldenrod;
        border-radius: 1em;
        font-family: 'Inter Tight', sans-serif;
        font-size: 130%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        }
    /*Beers*/
    .carousel{
        width: 100%;
        height: 96%;
        }
    .carousel-inner{
        width: 68%;
        height: 100%;
        }
    .carousel-item{
        width: 100%;
        height: 100%;   
        }
    .carousel-item :active{
        width: 100%;
        height: 100%;
        }
    .item img {
    width: 100%;
    height: 100%;
    }
    /*Crafting*/
    .craftingcontenedor{
        width: 90%;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding: 1%;
        }
    .crafting{
        width: 100%;
        height: auto;
        border: 1px solid $primary-color;
        }
    .about1{
        width: 100%;
        height: auto;
        border: 1px solid goldenrod;
        border-radius: 1em;
        font-family: 'Inter Tight', sans-serif;
        font-size: 130%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        }
    /*Info*/
    .infocontenedor{
        width: 90%;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding: 1%;
        }
    .about2{
        width: 100%;
        height: auto;
        border: 1px solid goldenrod;
        border-radius: 1em;
        font-family: 'Inter Tight', sans-serif;
        font-size: 130%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        }
    .info{
        width: auto;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding: 1%;
        }
    .about3{
        width: 100%;
        height: 500px;
        border: 1px solid goldenrod;
        border-radius: 1em;
        font-family: 'Inter Tight', sans-serif;
        font-size: 130%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        }
    .map{
        margin: 0;
        width: 400px;
        height: 600px;
        }
    .contact-form{
        margin: 0 0 0 0;
        width: 400px;
        height: 400px;
        }
    .about2 ul li{
        list-style: none;
        color: $primary-color;
        text-align: right;
        padding: 0;
        padding-right: 80px;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 12px;
        font-family: 'Inter Tight', sans-serif;
        }
    
}