footer{
    color: black;
    background-color:goldenrod;
    text-decoration: none;  
    font-weight:bolder;
}

.footernav a {
    list-style: none;
    text-decoration: none;  
    flex-direction: row;
    justify-content:center;
}

.legal p{
    color: black;
}
