body{
    text-align: center;
}

.main{
    width: auto;
    height: 700px;
    background-image:$background-img;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.logo{
    width: auto;
    height: 80%;
    bottom: 10;
}

.logo:hover{
    rotate: y 360deg;
    transition: rotate 1s ease-in-out;
}

p {
    color: $primary-color
}

.container-fluid{
    background-color: $primary-color;
}
