.carousel{
    width: 100%;
    height: 100%;
}

.carousel-inner{
    width: 40%;
    height: 80%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.carousel-item{
    width: 60%;
    height: 80%;
}

.carousel-item :active{
    width: 60%;
    height: 80%;
}